{% load static %}
<!-- Footer -->
<footer class="page-footer font-small bg-light mt-4" style="left: 0; bottom: 0; width: 100%; text-align: center;">
    <!-- Footer Links -->
    <div class="container">
			<div class="text-center text-md-left pt-4 pt-md-5">
				<div class="row mt-1 mt-md-0 mb-4 mb-md-0">
					<!-- Grid column -->
					<div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
						<h5>About us</h5>
						<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
						<p class="foot-desc mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, explicabo iste.</p>
					</div>
					<!-- Grid column -->
					<hr class="clearfix w-100 d-md-none">
					<!-- Grid column -->
					<div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
						<h5>Products</h5>
						<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
						<ul class="list-unstyled foot-desc">
							<li class="mb-2">
								<a href="#" class="text-dark">Food Items</a>
							</li>
							<li class="mb-2">
								<a href="#" class="text-dark">Clothing</a>
							</li>
							<li class="mb-2">
								<a href="#" class="text-dark">General Items</a>
							</li>
						</ul>
					</div>
					<!-- Grid column -->
					<hr class="clearfix w-100 d-md-none">
					<!-- Grid column -->
					<div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
						<h5>Useful links</h5>
						<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
						<ul class="list-unstyled foot-desc">
							<li class="mb-2">
								<a href="#" class="text-dark">Login</a>
							</li>
							<li class="mb-2">
								<a href="#" class="text-dark">Register</a>
							</li>
							<li class="mb-2">
								<a href="#" class="text-dark">Shipping Rates</a>
							</li>
							<li class="mb-2">
								<a href="#" class="text-dark">Help</a>
							</li>
						</ul>		
					</div>
					<!-- Grid column -->
					<hr class="clearfix w-100 d-md-none">
					<!-- Grid column -->
					<div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
						<h5>Contacts</h5>
						<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
						<ul class="fa-ul foot-desc ml-4">
							<li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>Kado F.C.T Abuja
							</li>
							<li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>+234 8146 543 239</li>
							<li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>flex@gmail.com</li>
							<li><span class="fa-li"><i class="far fa-clock"></i></span>Monday - Friday: 10-17</li>
						</ul>
		
					</div>
				</div>
			</div>  
      <div class="row d-flex justify-content-center">
  
        <!--Grid column-->
        <div class="col d-flex justify-content-center my-5 pt-1">
          <!-- Facebook -->
          <a class="fb-ic" href="">
            <i class="fab fa-facebook-f fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="">
            <i class="fab fa-twitter fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href="">
            <i class="fab fa-google-plus-g fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="">
            <i class="fab fa-linkedin-in fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="">
            <i class="fab fa-instagram fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
          </a>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
      <a href="#" style="text-decoration: none; color: #2abd61;"> <strong>flex.com</strong></a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->