{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
		<title>Flex | {% block title %} {% endblock %}</title>
		{% include "partials/headTags.html" %}
		<script type="text/javascript">
			let user = '{{ request.user}}'
			console.log(user)
			let total = '{{ order.get_cart_total }}'
			
			function getToken(name) {
				let cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					const cookies = document.cookie.split(';');
					for (let i = 0; i < cookies.length; i++) {
						const cookie = cookies[i].trim();
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			const csrftoken = getToken('csrftoken');

			console.log('CSRF:', csrftoken)

			function getCookie(name) {
				var cookieArr = document.cookie.split(";")

				for(var i = 0; i < cookieArr.length; i++) {
					var cookiePair = cookieArr[i].split("=");

					if (name == cookiePair[0].trim()) {
						return decodeURIComponent(cookiePair[1]);
					}
				}
				return null;
			}
			
			var cart = JSON.parse(getCookie('cart'))

			if(cart == undefined) {
				cart = {}
				document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
			}
		</script>
	</head>
	<body style="background-color: #F5F5F5;">		
		{% include "partials/navbar.html" %}
		<!-- Body block -->
		<div class="container-fluid">
			{% block body %}
			
			{% endblock %}
		</div>
		<!-- End of body block -->
		
		{% include "partials/footer.html" %}

		{% include "partials/scripts.html" %}
	</body>
</html>